/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

*/
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none !important;
}

input:focus{
  outline: none !important;
}

select:focus{
  outline: none !important;
}

/* BODY */
  body{
    font-family: 'Roboto Condensed', sans-serif;
  }

/* TOPO */
  .topo{

  }
  header{

  }

/*RODAPÉ*/
  .rodape{

  }
  footer{

  }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }

/* SIDEBAR */
  .sidebar{
    width: 100%;
    max-width: 350px;
    margin: 0 0 0 auto;
  }
    .sidebar .newsletter{
      background-color: #ff8224;
      padding: 50px 22px 40px;
      border-radius: 18px;
      margin: 0 auto 55px;
    }
      .sidebar .newsletter h3{
        text-align: center;
        font-size: 24px;
        color: #fff;
        /* border-bottom: 2px solid #ff6d00; */
        padding: 0 0 5px;
        margin: 0 auto 15px;
      }
      .sidebar .newsletter p{
        font-size: 16px;
        color: #fff;
        text-align: center;
      }
      .sidebar .newsletter .formulario{
        
      }
        .sidebar .newsletter .formulario input{
          display: block;
          width: 100%;
          margin: 17px auto;
          padding: 10px 12px;
          color: #999;
          font-size: 16px;
          border: none;
        }
        .sidebar .newsletter .formulario input::placeholder{
          color: #999;
        }
        .sidebar .newsletter .formulario input[type="submit"]{
          border: none;
          /* background-color: #ff6d00; */
          color: #fff;
          font-size: 22px;
          width: initial;
          margin: 12px 0 10px auto;
          padding: 2px 40px;
          border: 2px solid #fff;
          background-color: transparent;
          -webkit-transition: ease-in-out .1s;
          -o-transition: ease-in-out .1s;
          transition: ease-in-out .1s;
        }
        .sidebar .newsletter .formulario input[type="submit"]:hover{
          background-color: #fff;
          color: #ff6d00;
        }
        .sidebar .newsletter .formulario select{
          width: 100%;
          display: block;
          padding: 10px 9px;
          color: #999;
          font-size: 16px;
          border: none;
        }
    .sidebar .mais-vistos{
      margin: 0 auto 55px;
    }
      .sidebar .mais-vistos h3{
        
      }
      .sidebar .mais-vistos .lista{
        
      }
        .sidebar .mais-vistos .lista-li{
          list-style: none;
        }
          .sidebar .mais-vistos .lista-li a{
            display: inline-block;
            width: 100%;
            margin: 10px auto 0px;
            border-bottom: 1px solid #000;
            padding: 8px 10px;
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
          }
          .sidebar .mais-vistos .lista-li a:hover{
            box-shadow: 0 1px 6px -4px #000;
            -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
            transform: translateY(-5px);
          }
            .sidebar .mais-vistos .lista-li a .titulo{
              margin: 0;
              font-size: 17px;
              color: #000;
              font-weight: 100;
            }
            .sidebar .mais-vistos .lista-li a .categoria{
              text-align: right;
              display: block;
              color: #ff6d00;
              font-weight: 600;
            }
    .sidebar .categorias{
      
    }
      .sidebar .categorias h3{

      }
      .sidebar .categorias .lista-categorias{

      }
        .sidebar .categorias .lista-categorias .categorias-li{
          list-style: none;
        }
          .sidebar .categorias .lista-categorias .categorias-li a{
            color: #000;
            border-left: 2px solid #ff6d00;
            border-right: 2px solid #ff6d00;
            display: inline-block;
            width: 100%;
            margin: 4px auto;
            padding: 6px 5px;
            font-size: 17px;
            position: relative;
          }
          .sidebar .categorias .lista-categorias .categorias-li a::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 0;
            height: 100%;
            border-bottom: 2px solid #ff6d00;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
          }
          .sidebar .categorias .lista-categorias .categorias-li a:hover::before{
            width: 100%;
          }
            .sidebar .categorias .lista-categorias .categorias-li a p{
              margin: 0;
            }

/*PÁGINA INICIAL*/
  .pg-inicial{

  }
    .pg-inicial .secao-destaque{ 
      margin: 20px auto 80px;
    }
      .pg-inicial .secao-destaque .item{ 
        text-align: center;
        width: 100%;
        /* max-width: 550px; */
        margin: 0 auto;
      }
        .pg-inicial .secao-destaque .item a{ 
          position: relative;
          margin: 4px 0px;
        }
        .pg-inicial .secao-destaque .item a::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          display: inline-block;
          background: linear-gradient(180deg, rgba(255, 109, 0, 0.36), rgba(0, 0, 0, 0.49));
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          -webkit-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
        }
        .pg-inicial .secao-destaque .item a:hover::before{
          background-color: rgba(255, 255, 255, 0.22);
        }
          .pg-inicial .secao-destaque .item a figure{ 
           width: 100%;
           max-width: 342px;
           min-height: 306px;
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
          }
            .pg-inicial .secao-destaque .item a figure img{ 
              width: 100%;
              max-width: 400px;
              display: none;
            }
          .pg-inicial .secao-destaque .item a .conteudo{ 
            position: absolute;
            bottom: 50px;
            left: 50%;
            display: block;
            width: 100%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: ease-in-out .3s;
            -o-transition: ease-in-out .3s;
            transition: ease-in-out .3s;
            padding: 0 10px;
          }
          .pg-inicial .secao-destaque .item a:hover .conteudo{
            bottom: 65px;
          }
            .pg-inicial .secao-destaque .item a .conteudo h4{ 
              color: #fff;
              text-transform: capitalize;
              font-size: 26px;
              font-weight: 100;
              -webkit-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              transition: ease-in-out .2s;
            }
        .pg-inicial .secao-destaque .item a.large{
          display: inline-block;
          width: 100%;
          max-width: 50%;
        }
          .pg-inicial .secao-destaque .item a.large figure{
            width: 100%;
            min-height: 616px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            max-width: 360px;
          }
            .pg-inicial .secao-destaque .item a.large figure img{

            }
          .pg-inicial .secao-destaque .item a.large .conteudo{

          }
            .pg-inicial .secao-destaque .item a.large .conteudo h4{

            }
        .pg-inicial .secao-destaque .item .small{
          display: inline-block;
          width: 100%;
          max-width: 49%;
        }
          .pg-inicial .secao-destaque .item .small a{
            display: block;
          }
            .pg-inicial .secao-destaque .item .small a figure{

            }
              .pg-inicial .secao-destaque .item .small a figure img{

              }
            .pg-inicial .secao-destaque .item .small a .conteudo{

            }
              .pg-inicial .secao-destaque .item .small a .conteudo h4{

              }
    .pg-inicial .secao-categorias{
      margin: 0 auto 80px;
    }
      .pg-inicial .secao-categorias ul{
        
      }
        .pg-inicial .secao-categorias ul li{
          display: inline-block;
          width: 100%;
          max-width: 33%;
          text-align: center;
        }
          .pg-inicial .secao-categorias ul li a{
            width: 100%;
            display: block;
            max-width: 400px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
          }
          .pg-inicial .secao-categorias ul li a::before{
            content: '';
            position: absolute;
            top: -200%;
            left: 50%;
            display: block;
            width: 100%;
            height: 100%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
            background-color: rgba(255, 109, 0, 0.5);
          }
          .pg-inicial .secao-categorias ul li a:hover::before{
            top: 50%;
          }
          .pg-inicial .secao-categorias ul li a::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            width: 100%;
            height: 101%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
            background: linear-gradient(180deg, rgba(255, 109, 0, 0.36), rgba(0, 0, 0, 0.49));
          }
          .pg-inicial .secao-categorias ul li a:hover::after{
            top: 200%;
          }
            .pg-inicial .secao-categorias ul li a img{
              width: 100%;
              /* max-width: 400px; */
            }
            .pg-inicial .secao-categorias ul li a .categoria{
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
              -webkit-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              transition: ease-in-out .2s;
              color: #fff;
              font-size: 30px;
              text-transform: capitalize;
              z-index: 2;
              font-weight: 100;
              border-left: 2px solid #fff;
              border-right: 2px solid #fff;
              padding: 2px 15px;
            }
            .pg-inicial .secao-categorias ul li a:hover .categoria{
              top: 200%;
            }
            .pg-inicial .secao-categorias ul li a .ver-mais{
              display: block;
              position: absolute;
              top: 50%;
              left: -200%;
              -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
              color: #fff;
              font-size: 30px;
              text-transform: capitalize;
              font-weight: 100;
              padding: 0px 24px;
              /* border-left: 2px solid #fff; */
              /* border-right: 2px solid #fff; */
              border-bottom: 2px solid #fff;
              border-top: 2px solid #fff;
              -webkit-transition: ease-in-out .3s;
              -o-transition: ease-in-out .3s;
              transition: ease-in-out .3s;
            }
            .pg-inicial .secao-categorias ul li a:hover .ver-mais{
              left: 50%;
            }
    .pg-inicial .secao-posts{
      
    }
      .pg-inicial .secao-posts .posts{
        
      }
        .pg-inicial .secao-posts .posts .pesquisa{
          position: relative;
          padding: 0 0 0 7px;
        }
        .pg-inicial .secao-posts .posts .pesquisa::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 24px;
          width: 17px;
          height: 17px;
          display: inline-block;
          background-image: url('../img/search.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
          .pg-inicial .secao-posts .posts .pesquisa input{
            width: 100%;
            max-width: 90%;
            padding: 10px 47px;
            font-size: 18px;
            font-weight: 100;
            font-style: italic;
            border: none;
            border-left: 2px solid #ff6d00;
            border-bottom: 2px solid transparent;
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
          }
          .pg-inicial .secao-posts .posts .pesquisa input:focus{
            outline: none !important;
            border-bottom: 2px solid #ff6d00;
          }
        .pg-inicial .secao-posts .posts ul{
          
        }
          .pg-inicial .secao-posts .posts ul .post{
            list-style: none;
            margin: 35px auto 0 0;
            width: 100%;
            max-width: 840px;
            border-bottom: 2px solid #656565;
            padding: 0 0 15px;
          }
            .pg-inicial .secao-posts .posts ul .post a{
              width: 100%;
              display: block;
              -webkit-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              transition: ease-in-out .2s;
            }
            .pg-inicial .secao-posts .posts ul .post a:hover{
              -webkit-transform: translateX(6px);
              -ms-transform: translateX(6px);
              -o-transform: translateX(6px);
              transform: translateX(6px);
            }
            .pg-inicial .secao-posts .posts ul .post .foto-destaque{
              width: 100%;
              max-width: 40%;
              display: inline-block;
              border-left: 5px solid transparent;
              -webkit-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              transition: ease-in-out .2s;
            }
            .pg-inicial .secao-posts .posts ul .post a:hover .foto-destaque{
              border-color: #ff6d00;
            }
              .pg-inicial .secao-posts .posts ul .post .foto-destaque img{
                width: 100%;
                /* max-width: 325px; */
              }
            .pg-inicial .secao-posts .posts ul .post .conteudo{
              width: 100%;
              max-width: 56%;
              display: inline-block;
              vertical-align: middle;
              padding: 0 0 0 15px;
            }
              .pg-inicial .secao-posts .posts ul .post .conteudo h2{
                margin: 0;
                color: #000;
                font-size: 30px;
                /* padding: 5px 0 0; */
              }
              .pg-inicial .secao-posts .posts ul .post .conteudo p{
                color: #696969;
                font-size: 18px;
                margin: 0;
                padding: 7px 0;
                font-weight: 100;
                min-height: 70px;
                max-height: 98px;
              }
              .pg-inicial .secao-posts .posts ul .post .conteudo span{
                font-size: 22px;
                color: #fff;
                background-color: #ff6d00;
                padding: 4px 25px;
                margin: 8px auto 0 0;
                display: inline-block;
              }
      .pg-inicial .secao-posts .paginador{

      }
        .pg-inicial .secao-posts .paginador ul{
          margin: 10px auto;
          text-align: center;
        }
          .pg-inicial .secao-posts .paginador ul li{
            list-style: none;
            display: inline-block;
          }
            .pg-inicial .secao-posts .paginador ul li a{
              color: #000;
              font-size: 25px;
              padding: 0 13px;
              -webkit-transition: ease-in-out .1s;
              -o-transition: ease-in-out .1s;
              transition: ease-in-out .1s;
            }
            .pg-inicial .secao-posts .paginador ul li a:hover{
              color: #ff6d00;
              border-bottom: 2px solid #ff6d00;
            }
              .pg-inicial .secao-posts .paginador ul li a i.prev-next{

              }
              .pg-inicial .secao-posts .paginador ul li a.prev-next:hover{
                color: #ff6d00;
                border: none;
              }
    .pg-inicial .secao-produtos{
      margin: 70px auto 100px;
    }
      .pg-inicial .secao-produtos h2{
        text-align: center;
        margin: 0;
        font-size: 35px;
        padding: 15px 0 30px;
      }
      .pg-inicial .secao-produtos .produto{
        text-align: center;
      }
        .pg-inicial .secao-produtos .produto a{
          position: relative;
          width: 100%;
          display: inline-block;
          max-width: 545px;
          overflow: hidden;
        }
        .pg-inicial .secao-produtos .produto a::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          width: 101%;
          height: 100%;
          display: inline-block;
          -webkit-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
          background: linear-gradient(180deg, rgba(255, 109, 0, 0.36), rgba(0, 0, 0, 0.49));
        }
        .pg-inicial .secao-produtos .produto a:hover::before{
          left: 200%;
        }
        .pg-inicial .secao-produtos .produto a::after{
          content: '';
          position: absolute;
          top: 50%;
          left: -200%;
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          width: 101%;
          height: 100%;
          display: inline-block;
          background-color: rgba(255, 109, 0, 0.5);
          -webkit-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
        }
        .pg-inicial .secao-produtos .produto a:hover::after{
          left: 50%;
        }
          .pg-inicial .secao-produtos .produto a figure{
            width: 100%;
            /* max-width: 545px; */
            height: 100%;
            min-height: 338px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            /* margin: 0 auto; */
          }
            .pg-inicial .secao-produtos .produto a figure img{
              width: 100%;
              display: none;
            }
          .pg-inicial .secao-produtos .produto a .nome-produto{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            color: #fff;
            font-size: 32px;
            border-bottom: 2px solid #fff;
            z-index: 2;
            font-weight: 100;
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
            padding: 0 10px;
          }
          .pg-inicial .secao-produtos .produto a:hover .nome-produto{
            left: 200%;
          }
          .pg-inicial .secao-produtos .produto a .abrir-opcoes{
            display: inline-block;
            text-align: center;
            position: absolute;
            top: 50%;
            left: -200%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            color: #fff;
            font-size: 30px;
            border-bottom: 2px solid #fff;
            font-weight: 100;
            z-index: 2;
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
            padding: 0 10px;
          }
          .pg-inicial .secao-produtos .produto a:hover .abrir-opcoes{
            left: 50%;
          }
    .pg-inicial .secao-instagram{

    }
      .pg-inicial .secao-instagram h2{
        text-align: center;
      }
        .pg-inicial .secao-instagram h2 a{
          color: #ff6d00;
          font-size: 40px;
          font-weight: 600;
        }
      .pg-inicial .secao-instagram #instafeed{
        width: 100%;
        max-width: 1400px;
        margin: 0 auto 80px;
        display: block;
        text-align: center;
      }
      .secao-instagram a .itemInstagram{
        width: 24%;
        height: 337px;
        display: inline-block;
        background-size: cover!important;
        position: relative;
        margin: 10px 10px;
        background-position: center !important;
        -webkit-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      } 
      .itemInstagram::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        background: rgba(0, 0, 0, 0.54);
        opacity: 0;
        -webkit-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      }
      .itemInstagram:hover::before {
        opacity: 1;
      }
      .secao-instagram a .itemInstagram .likeComments{
        position: absolute;
        display: block;
        top: 0;
        z-index: 9999999;
        text-align: center;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .secao-instagram a .itemInstagram .likeComments .likes{
        opacity: 0;
        font-size: 24px;
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        position: relative;
        -webkit-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      }
      .secao-instagram a .itemInstagram .likeComments .comments{
        opacity: 0;
        font-size: 24px;
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        position: relative;
        -webkit-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      }
      .secao-instagram a .itemInstagram:hover .likes {
        opacity: 1;
      }
      .secao-instagram a .itemInstagram:hover .comments {
        opacity: 1;
      }
      .likes::before{
        content: " ";
        display: inline-block;
        background: url(../img/like.png);
        width: 18px;
        height: 16px;
        background-position: center!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        margin: 0 auto;
        margin-right: 6px;
      }
      .comments::before {
        content: " ";
        display: inline-block;
        background: url(../img/chat.png);
        width: 18px;
        height: 17px;
        background-position: center!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        margin: 0 auto;
        margin-right: 6px;
      }

/* PG DE POST */
  .pg-post{
    padding: 60px 0 0;
  }
    .pg-post .conteudo-post{
      width: 100%;
      max-width: 760px;
      margin: 0 auto 0 0;
    }
      .pg-post .conteudo-post h1{
        margin: 0;
        padding: 32px 0 0;
        font-size: 35px;
        font-weight: 600;
      }
      .pg-post .conteudo-post .destaque{
        width: 100%;
        max-width: 760px;
        margin: 0 auto 0 0;
        position: relative
      }
      .pg-post .conteudo-post .destaque::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.28), transparent);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
        .pg-post .conteudo-post .destaque img{
          width: 100%;
        }
        .pg-post .conteudo-post .destaque .categoria{
          position: absolute;
          top: 0;
          right: 0;
          color: #fff;
          font-size: 16px;
          background-color: #ff6d00;
          padding: 2px 15px;
          margin: 15px;
        }
      .pg-post .conteudo-post .data{
        font-size: 15px;
        margin: 12px auto 0;
        display: inline-block;
        color: #ff6d00;
        font-weight: 600;
      }
      .pg-post .conteudo-post .texto{
        padding: 40px 0 0;
      }
        .pg-post .conteudo-post .texto p{
          font-size: 18px;
          font-weight: 100;
        }
    .pg-post .relacionados{
      padding: 80px 0 0;
    }
      .pg-post .relacionados h3{
        margin: 0;
        padding: 0 0 20px;
        font-size: 35px;
        color: #ff6d00;
        text-shadow: -1px 1px 1px #000;
      }
      .pg-post .relacionados ul{
        text-align: center;
      }
        .pg-post .relacionados ul li{
          list-style: none;
          display: inline-block;
          width: 33%;
        }
          .pg-post .relacionados ul li a{
            display: block;
            width: 100%;
            max-width: 96%;
            margin: 0 auto;
            position: relative;
          }
          .pg-post .relacionados ul li a::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            display: inline-block;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.77));
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
          }
          .pg-post .relacionados ul li a:hover::before{
            background: linear-gradient(180deg, rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.59));
          }
            .pg-post .relacionados ul li a figure{
              width: 100%;
            }
              .pg-post .relacionados ul li a figure img{
                width: 100%;
              }
            .pg-post .relacionados ul li a .titulo{
              position: absolute;
              bottom: 42px;
              left: 50%;
              width: 100%;
              color: #fff;
              padding: 0 12px;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              -webkit-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              transition: ease-in-out .2s;
              text-align: left;
            }
            .pg-post .relacionados ul li a:hover .titulo{
              bottom: 50px;
            }
              .pg-post .relacionados ul li a .titulo h4{
                font-size: 20px;
                color: #fff;
                font-weight: 100;
                text-align: center;
                margin: 5px auto 0;
              }
              .pg-post .relacionados ul li a .titulo .categoria{
                color: #ff6c00;
                font-weight: 600;
                padding: 1px 0px 0;
                /* border-bottom: 1px solid #ff6d00; */
                font-size: 12px;
              }

/*EXTRAS*/
  .containerFull{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .containerFullSecaoPosts{
    width: 100%;
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .containerFullPgPost{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }

/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .pg-inicial .secao-categorias ul li a .categoria {
      font-size: 25px;
      padding: 0px 15px;
    }
    .pg-inicial .secao-categorias ul li a .ver-mais {
      font-size: 25px;
      padding: 0px 20px;
    }
    .pg-inicial .secao-categorias ul li a {
      max-width: 320px;
    }
    .containerFullSecaoPosts {
      max-width: 1125px;
    }
    .secao-instagram a .itemInstagram {
      height: 286px;
    }
  }

  @media(max-width: 991px){
    .pg-inicial .secao-destaque .item a figure {
      min-height: 243px;
    }
    .pg-inicial .secao-destaque .item a.large figure {
      min-height: 490px;
    }
    .pg-inicial .secao-posts .posts ul .post .conteudo {
      max-width: 55%;
    }
    .pg-inicial .secao-posts .posts ul .post .conteudo h2 {
      font-size: 28px;
    }
    .pg-inicial .secao-posts .posts ul .post .conteudo p {
      font-size: 16px;
    }
    .pg-inicial .secao-posts .posts ul .post .conteudo span {
      font-size: 20px;
      padding: 3px 25px;
    }
    .pg-inicial .secao-posts .posts ul .post .foto-destaque {
      max-width: 43%;
    }
    .pg-inicial .secao-posts .posts ul .post {
      max-width: 600px;
    }
    .sidebar {
      max-width: 310px;
    }
    .pg-inicial .secao-categorias ul li a {
      max-width: 280px;
    }
    .pg-inicial .secao-categorias ul li a .categoria {
      font-size: 22px;
      padding: 0px 12px;
    }
    .pg-inicial .secao-categorias ul li a .ver-mais {
      font-size: 22px;
    }
    .pg-inicial .secao-posts .paginador ul li a {
      font-size: 22px;
    }
    .pg-inicial .secao-produtos .produto a figure {
      min-height: 266px;
    }
    .pg-inicial .secao-produtos .produto a {
      max-width: 400px;
    }
    .pg-inicial .secao-produtos .produto a .nome-produto {
      font-size: 28px;
      padding: 0 8px;
    }
    .pg-inicial .secao-produtos .produto a .abrir-opcoes{
      font-size: 28px;
      padding: 0 8px;
    }
    .secao-instagram a .itemInstagram {
      height: 232px;
    }
    .pg-post .conteudo-post {
      max-width: 620px;
      padding: 0 10px 0 0;
    }
  }

  @media(max-width: 768px){
    .pg-inicial .secao-posts .posts ul .post {
      max-width: 100%;
    }
    .pg-inicial .secao-posts .posts .pesquisa input{
      max-width: 100%;
    }
    .sidebar {
      max-width: 100%;
    }
    .sidebar .newsletter {
      margin: 45px auto 55px;
    }
    .pg-inicial .secao-destaque .item a figure {
      max-width: 366px;
    }
    .pg-inicial .secao-destaque .item a.large figure {
      max-width: 373px;
    }
    .pg-inicial .secao-produtos h2 {
      padding: 15px 0 20px;
    }
    .pg-inicial .secao-produtos .produto {
      margin: 15px auto 0;
    }
    .pg-inicial .secao-produtos .produto a {
      max-width: 95%;
    }
    .secao-instagram a .itemInstagram {
      height: 178px;
    }
    .likes::before {
      width: 13px;
      height: 13px;
    }
    .comments::before {
      width: 14px;
      height: 14px;
    }
    .secao-instagram a .itemInstagram .likeComments .likes {
      font-size: 18px;
      margin: 0 5px;
    }
    .secao-instagram a .itemInstagram .likeComments .comments {
      font-size: 18px;
      margin: 0 5px;
    }
    .pg-inicial .secao-categorias ul {
      text-align: center;
    }
    .pg-inicial .secao-categorias ul li {
      max-width: 49%;
    }
    .pg-inicial .secao-categorias ul li a {
      max-width: 318px;
    }
    .pg-post .conteudo-post {
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    .pg-post .relacionados ul li a .titulo h4 {
      font-size: 16px;
    }
    .pg-post .relacionados ul li a .titulo {
      bottom: 22px;
    }
    .pg-inicial .secao-posts .posts .pesquisa {
      padding: 0;
    }
    .pg-inicial .secao-posts .posts .pesquisa::before {
      left: 17px;
    }
  }

  @media(max-width: 660px){
    .pg-post .relacionados ul li a {
      margin: 5px auto;
    }
    .pg-post .relacionados ul li {
      width: 49%;
    }
    .pg-post .relacionados ul li a .titulo {
      bottom: 35px;
    }
  }

  @media(max-width: 545px){
    .pg-inicial .secao-posts .posts ul .post .conteudo h2 {
      font-size: 24px;
    }
    .secao-instagram a .itemInstagram {
      height: 126px;
    }
    .pg-inicial .secao-destaque .item a .conteudo h4 {
      font-size: 20px;
    }
    .pg-inicial .secao-destaque .item a.large figure {
      min-height: 404px;
    }
    .pg-inicial .secao-destaque .item a figure {
      min-height: 200px;
    }
    .pg-inicial .secao-posts .posts ul .post .conteudo {
      max-width: 100%;
      padding: 10px 0 0;
    }
    .pg-inicial .secao-posts .posts ul .post .foto-destaque {
      max-width: 100%;
      margin: 0 auto;
      border: none;
    }
    .pg-inicial .secao-posts .posts ul .post a:hover{
      -webkit-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
    .secao-instagram a .itemInstagram {
      height: 182px;
    }
    .pg-inicial .secao-instagram h2 a {
      font-size: 30px;
    }
  }

  @media(max-width: 425px){
    .secao-instagram a .itemInstagram {
      height: 182px;
      width: 44%;
    }
    .pg-inicial .secao-instagram h2 a {
      font-size: 30px;
    }
    .pg-inicial .secao-categorias ul li {
      max-width: 100%;
    }
    .pg-inicial .secao-destaque .item a figure {
      min-height: 148px;
    }
    .pg-inicial .secao-destaque .item a.large figure {
      min-height: 300px;
    }
    .pg-inicial .secao-destaque .item a .conteudo {
      bottom: 26px;
    }
    .pg-inicial .secao-destaque .item a .conteudo h4 {
      font-size: 16px;
    }
    .pg-inicial .secao-destaque {
      margin: 20px auto 35px;
    }
    .pg-post {
      padding: 35px 0 0;
    }
    .pg-post .conteudo-post .texto p {
      font-size: 15px;
    }
    .pg-post .conteudo-post h1 {
      font-size: 25px;
    }
    .pg-post .relacionados ul li a .titulo h4 {
      font-size: 18px;
    }
    .pg-post .relacionados ul li {
      width: 100%;
    }
  }

  @media(max-width: 320px){
    .pg-inicial .secao-categorias {
      margin: 0 auto 40px;
    }
    .pg-inicial .secao-destaque .item a.large {
      max-width: 49%;
    }
    .pg-inicial .secao-posts .paginador ul li a {
      font-size: 18px;
      padding: 0 8px;
    }
    .pg-inicial .secao-produtos h2 {
      font-size: 26px;
    }
    .pg-inicial .secao-produtos .produto a .nome-produto {
      font-size: 22px;
      padding: 0 5px;
    }
    .pg-inicial .secao-produtos .produto a .abrir-opcoes{
      font-size: 22px;
      padding: 0 5px;
    }
    .pg-inicial .secao-produtos .produto a figure {
      min-height: 170px;
    }
    .pg-inicial .secao-instagram h2 a {
      font-size: 25px;
    }
    .secao-instagram a .itemInstagram {
      height: 300px;
      width: 100%;
      margin: 5px auto;
    }
  }
